extends ../layouts/base.pug
include ../mixins/games-mixin.pug

block content 
    div.main__header
        span 기억에 남는 게임들

    if loggedIn
        div.notice-maseter__write
            div.notice-maseter__write-btn
                a(href="/games/write") 글쓰기

    div.steam-container
        each game in games
            +game(game)
        else 
            span 작성된 글이 없습니다.
