extends ../layouts/base.pug

block content
    
    form.notice-form(action="" method="POST")
        span 제목: 
            input(type="text" placeholder="제목을 입력하세요" required name="title")
        textarea(name="description", cols="100", rows="20" required) 
        input(type="submit" value="작성완료")