extends ../layouts/base.pug
include ../mixins/community-mixin.pug

block content 
    div.main__header
        span 커뮤니티

    if loggedIn
        div.notice-maseter__write
            div.notice-maseter__write-btn
                a(href="/community/write") 글쓰기
    div.article-list
        div.article-list__header
            a.article-list__header-new(href="/community?sort=new") 최신
            a.article-list__header-hot(href="/community?sort=hot") 인기
            form.article-list__header-search(action="" method="GET") 
                label(for="target")
                    select(type="select" id="target" name="target")
                        option(value="title") 제목
                        option(value="userid") 작성자
                input(type="text" placeholder="검색" name="search")
                button
                    span.fas.fa-search       
       
        div.article-list__main
            each article in articles
                +article(article)
            else
                span 작성된 글이 없습니다.