doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Memorable Games #{pageTitle}
        style 
            include ../styles/style.css
    body 
        nav.nav-topbar 
            ul.nav-topbar__main 
                li
                    a(href="/") Home
                if !loggedIn     
                    li
                        a(href="/login") Login 
                    li
                        a(href="/join") Join
                else
                    li 
                        a(href=`/user/${loggedInUser.userid}`) #{loggedInUser.userid} 
                    li
                        a(href="/logout") Logout

        nav.nav-sidebar
            ul.nav-sidebar__main 
                li 
                    a(href="/notice") Notice
                li 
                    a(href="/games") Games
                li 
                    a(href="/community") Community
        
        main
            block content     

    
    script(src="https://kit.fontawesome.com/20f15630ea.js" crossorigin="anonymous") 
    block script