footer.footer 
    div &copy #{new Date().getFullYear()} Memorable-Games    
    div 
        a.fab.fa-github(href="https://github.com/Juzdalua") Github | 
        a.fas.fa-splotch(href="https://juzdalua.github.io/") Blog | 
        a.fab.fa-instagram(href="https://instagram.com/Juzdalua") Instagram
        
    
